<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">
    <context:component-scan base-package="com.sbrf.reboot"/>

<!--    //ручное создание бинов-->
<!--    <bean id="account" class="com.sbrf.reboot.AccountBean">-->
<!--        <constructor-arg name="currency" value="RUR"/>-->
<!--        <constructor-arg name="amount" value="0"/>-->
<!--        <constructor-arg name="number" value="718979782187982173891"/>-->
<!--    </bean>-->

<!--    <bean id="customer" class="com.sbrf.reboot.Customer">-->
<!--        <constructor-arg name="id" value="687"/>-->
<!--        <constructor-arg name="age" value="18"/>-->
<!--        <constructor-arg name="account" ref="account"/>-->
<!--    </bean>-->

</beans>